<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  <typeAliases>

  	<typeAlias type="java.lang.Long" alias="Long"/>
  	<typeAlias type="java.util.List" alias="List"/>
  	<typeAlias type="java.lang.String" alias="String"/>
  	<typeAlias type="java.util.Map" alias="Map"/>
  	<typeAlias type="com.sist.b.user.UserVO" alias="UserVO"/>
  	<typeAlias type="com.sist.b.user.RoleVO" alias="RoleVO"/>

  	
  	<typeAlias type="com.sist.b.util.Pager" alias="Pager"/>
  	<typeAlias type="com.sist.b.ad.AdVO" alias="AdVO"/>
  	<typeAlias type="com.sist.b.ad.AdFileVO" alias="AdFileVO"/>
  	<typeAlias type="com.sist.b.membership.MembershipVO" alias="MembershipVO"/>
  	<typeAlias type="com.sist.b.payments.PaymentsVO" alias="PaymentsVO"/>
  	<typeAlias type="com.sist.b.refunds.RefundsVO" alias="RefundsVO"/>
  	<typeAlias type="com.sist.b.alarm.AlarmVO" alias="AlarmVO"/>

  
  	<typeAlias type="com.sist.b.post.PostVO" alias="PostVO"/>
  	<typeAlias type="com.sist.b.post.PostFilesVO" alias="PostFilesVO"/>
  	

  	<typeAlias type="com.sist.b.user.UserlogVO" alias="UserlogVO"/>
  	<typeAlias type="com.sist.b.follow.FollowVO" alias="FollowVO"/>

  </typeAliases>
  
  </configuration>