@charset "UTF-8";

.wrapper {
	position: absolute;
	top: 10px;
	left: 50%;
	transform:translate(-50%, 0%); 
	padding: 100px;
}

table {
	width: 800px;
	border-collapse: collapse;
	text-align: center;
}

table, tr {
	border: 1px solid #E2E2E2;
}

td {
	padding: 10px;
}

#next_btn {
	margin: 10px;
	position: relative;
	left: 93%;
}