@charset "UTF-8";

body {
	overflow-y: scroll;
	background-color: #fafafa;
}

.wrapper {
	position: absolute;
	width: 50%;
	top: 10px;
	left: 50%;
	transform:translate(-50%, 0%); 
	margin-top: 80px;
}

.title {
	font-size: 25px;
	padding: 5px;
}

hr {
	border: solid 1px #E2E2E2;
	margin-top: 20px;
	margin-bottom: 20px;
}

table {
	position: relative;
	left: 50%;
	transform:translate(-50%, 0%); 
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	background-color: white;
}

table, tr {
	border: 1px solid #E2E2E2;
}

td {
	padding: 10px;
}

.b {
	margin-top: 30px;
	text-align: center;
}

#cancel {
	background: white;
	border: solid 1px #3f3f3f;
	color: #3f3f3f;
	width: 120px;
	height: 50px;
	font-size: 15px;
	font-family: 'Apple SD Bold'; 
}

.next {
	background: #3f3f3f;
	border: solid 1px #3f3f3f;
	color: white;
	width: 120px;
	height: 50px;
	font-size: 15px;
	font-family: 'Apple SD Bold'; 
}