@charset "UTF-8";

body {
	overflow-y: scroll;
	background-color: #fafafa;
}

.wrapper {
	position: absolute;
	width: 570px;
	top: 10px;
	left: 30%;
	transform:translate(-30%, 0%); 
	padding: 100px;
}

.title {
	font-size: 25px;
	padding: 5px;
}

hr {
	border: solid 1px #E2E2E2;
	margin-top: 20px;
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

table, tr {
	border: 1px solid #E2E2E2;
}

td {
	padding: 10px;
	background-color: #fff;
}

.b {
	margin-top: 30px;
	text-align: center;
}

#done {
	background: #3f3f3f;
	border: solid 1px #3f3f3f;
	color: white;
	width: 120px;
	height: 50px;
	font-size: 15px;
	font-family: 'Apple SD Bold';
}

.selectResult {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* 우측 고정바 */
#profile_box {
	position: fixed;
	right: 20%;
	top: 130px;
	width: 293px;
	height: 56px;
}

#admin_img {
	position: absolute;
	width: 56px;
	height: 56px;
}

#user {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 25%;
	transform:translate(0%, -50%);
}

#nickname {
	color: #8e8e8e;
}

#chg {
	font-size: 12px;
	color: #0095F6;
	position: absolute;
	top: 50%;
	right: 0;
	transform:translate(0%, -50%);
	font-family: 'Apple SD Bold';
}

#admin_menu {
	position: absolute;
	color: #8E8E8E;
	top: 80px;
}

#menu_contents {
	position: absolute;
	top: 110px;
	width: 320px; 
	height: 200px;
}

#plus, #minus {
	width: 32px;
	height: 32px;
}

.fw {
	font-weight: 600;	
}

.s32 {
	width: 32px;
	height: 32px;
}

.menu_title {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu_title_title {
	position: absolute;
	top: 50%;
	transform:translate(0%, -25%);
	height: 100%;
	margin-left: 10px;
}

.detail {
	margin-left: 10px;
	padding: 5px;
	font-size: 14px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: #8E8E8E;
}

/* footer */
body {
	position: relative;
}

footer {
	position: absolute;
	width: 100%;
	height: 130px;
	text-align: center;
}

.footer-entire {
	margin-top: 80%;
	padding-bottom: 50px;
}

.footer-set-1 {
	margin-top: 30px;
}

.footer-object {
	display: inline-block;
	margin-left: 10px;
}

.object-name {
	font-weight: 400; 
	font-size: 13px;
	color: #8e8e8e;
}

.footer-set-2 {
	margin-top: 20px;
}

.footer-setting, .language, .select-language-area, .sns-company {
	display: inline-block;
	font-weight: 400; 
	font-size: 13px;
	color: #8e8e8e;
}

.settings {
	position: relative;
}

.language-change{
	cursor: pointer; 
	left: 0; 
	opacity: 0; 
	position: absolute; 
	top: 0; 
	width: 50px;
	height: 15px;
	position: absolute;
	left: 0;
	top: 0;
}

/* paging */
.pagination {
	margin-top: 30px;
	text-align: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}