@charset "UTF-8";

.chat-wrap {
	display: flex;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	position: relative;
}

.chat-container {
	display: flex;
	padding-top: 54px;
	height: 100%;
	width: 100%;
}

.chat-area {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 20px;
	height: 100%;
	width: 100%;
	background-color: #fafafa;
}

.chat-box {
	display: flex;
	background-color: #ffffff;
	max-width: 935px;
	width: 100%;
	height: 100%;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	box-sizing: border-box;
}

.chat-left-area {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 100%;
	border-right: 1px solid #dbdbdb;
}

.chat-user-box {
	display: flex;
	height: 60px;
	width: 100%;
	padding: 0 20px;
	border-bottom: 1px solid #dbdbdb;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.chat-id-area {
	font-family: 'Apple SD Bold', 'Apple SD';
}

.chat-write-area {
	justify-content: flex-end;
}

.chat-write-area button {
	background: transparent;
	border: 0;
	cursor: pointer;
}

.chat-write-area img {
	font-size: 0;
	width: 30px;
	height: 30px;
}

.chat-user-list-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 10px;
}

.chat-user-list-box {
	display: flex;
	padding: 8px 20px;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	cursor: pointer;
}

.user-list-img {
	display: flex;
	width: 56px;
	height: 56px;
	border: 1px solid #dbdbdb;
	border-radius: 50%;
}

.user-img img {
	display: flex;
	width: 56px;
	height: 56px;
	border: 1px solid #dbdbdb;
	border-radius: 50%;
}

.user-list-nick {
	margin-left: 14px;
}

.user-nick {
	color: #828282;
}


/* 우측 */

.chat-right-area {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 1 1 auto;
	height: 100%;
	min-height: 0; min-width: 0;
}


.chat-basic-box {
	display: flex;
	padding: 24px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.dm-img-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	border: 2px solid black;
	box-sizing: border-box;
}

.dm-img-box img {
	width: 50px;
	height: 50px;
}

.dm-text1 {
	font-size: 22px;
	color: #262626;
}

.dm-text2 {
	font-size: 14px;
	color: #828282;
}

.dm-text1, .dm-text2, .dm-button-box{
	margin-top: 16px;
}

.dm-button-box button {
	color: white;
	background: #0095F6;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 5px 9px;
	cursor: pointer;
	font-family: 'Apple SD Bold', 'Apple SD';
}

.chat-other-user-box {
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 100%; height: 60px;
	border-bottom: 1px solid #dbdbdb;
	box-sizing: border-box;
}

.chat-other-user-space {
	display: flex;
	height: 60px; width: 100%;
	padding: 0 20px;
	align-items: center;
	box-sizing: border-box;
	background: #ffffff;
	z-index: 3;
}

.receiver-area {
	display: flex;
	width: 100%;
	align-items: center;
}

.receiverUserImg {
	width: 24px; height: 24px;
	border-radius: 50%;
}

.receiverIdText {
	font-family: 'Apple SD Bold', 'Apple SD';
	margin-left: 10px;
}

.detail-info-area {
	display: flex;
	cursor: pointer;
	background: transparent; border: none;
	margin-left: auto;
}

.detail-info-area img {
	width: 24px;
	height: 24px;
}

.chat-container {
	display: flex;
	width: 100%; height: 100%;
	min-width: 0; min-height: 0;
}

.chat-contents-wrap {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 20px 20px 0;
	box-sizing: border-box;
	overflow-y: auto;
}

.chat-contents-area {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

.contents-row {
	display: flex;
	flex-direction: column;
	margin: 8px;
}

.r-row, .l-row {
	display: flex;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 22px;
	max-width: 236px;
}

.l-row {
	border: 1px solid #efefef;
	align-self: flex-start;
}

.r-row {
	background-color: #efefef;
	align-self: flex-end;
}

.chatContent {
	font-size: 14px;
	color: #262626;
}

.message-input-area {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.message-input-box {
	display: flex;
	min-height: 44px;
	border: 1px solid #dbdbdb;
	border-radius: 22px;
	box-sizing: border-box;
	padding: 0 8px 0 8px;
}

.message-text-box {
	display: flex;
	flex-grow: 2;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.message-input-text {
	border: none;
	width: 100%;
	height: 18px;
	resize: none;
	font-size: 14px;
	padding: 8px;
	line-height: 18px;
	font-family: 'Apple SD';
}

.message-input-text:focus {
	outline: none;
}


.message-input-right-box {
	display: flex;
}

.message-submit-btn {
	color: #0095F6;
	border: none;
	background-color: transparent;
	cursor: pointer;
}





/* ---------------  modal --------------- */

.modal {
	position: fixed;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 0; left: 0;
	z-index: 99;
	display: none;
}

.modal-area {
	display: flex;
	flex-direction: column;
	width: 400px; height:65%;
	background: #fff; 
	border-radius:12px;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
}

.modal-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #dbdbdb;
	height: 43px;
}

.modal-close-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.modalCloseBtn {
	background: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close-area img {
	width: 14px; height: 14px;
}

.newMessageLetter {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Apple SD Bold', 'Apple SD';
}


.modal-content {
	display: flex;
	height: 100%;
	flex: 1 1 auto;
	flex-direction: column;
	border-bottom: 1px solid #dbdbdb;
}

.modalSearchArea {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	border-bottom: 1px solid #dbdbdb;
	box-sizing: border-box;
}

.searchBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 8px 0 8px 0;
}

.searchUserName input {
	border: 0;
}

.searchUserName input:focus {
	outline: none;
}


.modalSearchResultArea {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.searchResult {
	display: flex;
	margin: 8px 0 8px 0;
	padding: 0 16px 0 16px;
	box-sizing: border-box;
	cursor: pointer;
}

.suImg {
	margin-right: 12px;	
}

.suImg img {
	display: flex;
	width: 44px;
	height: 44px;
	border: 1px solid #dbdbdb;
	border-radius: 50%;
}

.suInfo {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.suId {
	font-family: 'Apple SD Bold', 'Apple SD';
}

.suNick {
	color: #8e8e8e;
}