@charset "UTF-8";

/************************************************************************
* filename : common.css
* description : 공통 css
************************************************************************/
/* AppleSDGothicNeoR */

/* ----------------------- font ----------------------- */

@font-face {
	font-family:'Apple SD Bold'; 
	src: url('/gram/static/fonts/AppleSDGothicNeoSB.ttf');
}

@font-face {
	font-family:'Apple SD'; 
	src: url('/gram/static/fonts/AppleSDGothicNeoR.ttf');
}

@font-face {
	font-family:'Nanum'; 
	src: url('/gram/static/fonts/NanumGothic.ttf') format('opentype');
} 
 
*, body { 
    font-family: 'Apple SD', 'Nanum';
}

h1 { 
    font-family: 'Apple SD Bold', 'Nanum';
}

