@charset "UTF-8";
body {display: block; background: #fff; overflow-y: scroll; line-height: 1; }
html, body, #react-root{height: 100%;}
div {display: block;}
body, button, input, textarea{color: #262626; font-size: 14px; line-height: 18px;}
#react-root, article, div, footer, header, main, nav, section {
	align-items: stretch; border: 0 solid #000; box-sizing: border-box; display: flex; flex-direction: column;
	flex-shrink: 0; margin: 0; padding: 0; position: relative;
}
a {text-decoration: none;}
.footer {background-color: #fafafa; padding-left: 16px; padding-right: 16px; order: 5; padding: 0 20px;}
.footer-entire{margin-bottom: 52px; flex: 0 0 auto; justify-content: flex-start; align-items: stretch; align-content: stretch; display: flex;}
.footer-set-1{margin-top: 24px; flex: 0 0 auto; justify-content: flex-start; align-items: stretch; align-content: stretch; display: flex;}
.contents{flex-wrap: wrap; flex: 0 0 auto; justify-content: center; flex-direction: row; align-items: stretch; align-content: stretch; display: flex; }
.footer-object{margin: 0 8px 12px 8px; flex: 0 0 auto; justify-content: flex-start; align-items: stretch; align-content: stretch; display: flex;}
.object-name{display: block; color: #8e8e8e; font-weight: 400; font-size: 13px; line-height: 16px; margin: -2px 0 -3px;}

.footer-set-2{margin: 12px 0; flex: 0 0 auto; justify-content: center; flex-direction: row; align-items: stretch; align-content: stretch; display: flex;}
.footer-setting{display: block; color: #262626; font-weight: 400; font-size: 13px; line-height: 16px; margin: -2px 0 -3px;}
.settings{font-weight: 400; color: #8e8e8e; cursor: pointer; display: inline-block; position: relative; vertical-align: top;}
.language{align-items: center; display: flex;flex-direction: row; justify-content: center;}
.select-language-area{margin-left: 4px; flex: 0 0 auto; justify-content: flex-start; align-items: stretch;align-content: stretch;display: flex;}
.downarrow-icon{display: block; position: relative; color: rgb(142,142,142); height: 12; width: 12}
.language-change{cursor: pointer; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%}

.sns-company{margin-left: 16px; flex: 0 0 auto; justify-content: flex-start; align-items: stretch; align-content: stretch; display: flex;}
.company-info{display: block; color: #8e8e8e; font-weight: 400; font-size: 13px; line-height: 16px; margin: -2px 0 -3px;}