@charset "UTF-8";


#text{
	width: 50px;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
.pic {
    border-radius: 100%;
}

span.nickname {
    margin-right: 5px;
}
span.sub_span {
    font-size: 12px;
    color: #8e8e8e;
}

main {
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
}

.main_feed {
    width: 614px;
    margin-right: 34px;
    display: inline-block;
}



/* article */

article {
    background-color: #fff;
    border-radius: 3px;
}

header {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_profile {
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-left: 7px;
 	
}
.post_profile_img {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 100%;
}
.post_image img {
    width: 612px;
}
.main_nickname {
    margin-left: 14px;
}


.icons_react {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon_react {
    width: 24px;
    height: 24px;
}
.icons_left {
    display: flex;
    align-items: center;
}
.icons_left .icon_react {
    margin-right: 12px;
}
/* article text data */
.reaction {
    padding: 0 16px;
}
.liked_people {
    display: flex;
    align-items: center;
    height: 18px;
    margin: 2px 0 8px 0;
}
.liked_people img {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #fafafa;
}
.liked_people p {
    display: inline-block;
    color: #262626;
    font-size: 14px;
}

.box{
	margin-top: 10px;
	margin-bottom: 5px;
}
.description {
	word-break:break-all;
 	
}
span.at_tag {
    color: #00376B;
}
ul.comments {
    margin-top: 5px;
}
ul.comments li {
    height: 21px;
    display: flex;
    justify-content: space-between;
    color: #262626;
    font-size: 14px;
}
img.comment_heart {
    width: 12px;
    height: 12px;
}
div.time_log {
    margin-bottom: 8px;
}
div.time_log span {
    height: 18px;
    font-size: 12px;
    color: #8e8e8e;
}
.hl {
    border-top: 1px solid #DBDBDB;
    width: 612px;
}

.post{
	width: 613px;
	height: 612px;
}
/* comment input */
.input_comment {
    font-size: 14px;
    width: 560px;
    height: 18px;
    padding: 28px 16px;
    border-style: none;
    box-sizing: border-box;
    color: #262626;
}
.input_comment:focus {
	outline: none;
}
.input_comment::placeholder {
    color: #8e8e8e;
}
button.submit_comment {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 40px;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}


.submit_comment:disabled {
    color: #B9DFFC;
}
button.submit_comment:focus {
    outline: none;
}

button.submit_re {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 40px;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}

button.submit_re:focus {
    outline: none;
}

/* right area */

.right_contents{
	display: inline-block;
	position: fixed;
	top: 94px;
	width: 300px;
}

.section_recommend{
	height: 245px;
	padding: 14px 16px;
	overflow: hidden; 
}


.myProfile {
    height: 56px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.myProfile img {
    width: 56px;
    height: 56px;
}
.myProfile div {
    display: inline-block;
    margin-left: 14px;
}
.myProfile div span {
    display: block;
}
.myProfile div a.nickname {
	display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #262626;
    text-decoration: none;
}
/* story & recommendation */
.recommend_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.sub_title {
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}

.all_recommend_list{
	user-select: auto;
	appearance: none;
	background: 0 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 600;
	text-align: center;
	text-transform: inherit;
	text-overflow: ellipsis; 
	width: auto;
	user-select: auto;
	background-color: transparent;
	border: 0;
	display: inline;
	padding: 0;
	position: relative;
	color: #262626;
	text-decoration: none;
}

.all-recommend-title{
	font-size: 12px; 
	line-height: 16px;
	margin: -2px 0 -3px;
	display: block;
}

.recommend-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.profile_text {
    margin-top: 3px;
}
.profile_text {
    display: inline-block;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.profile_text a {
    display: block;
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommend_list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 7px;
}
.btn_follow {
	background: 0 0;
	border: 0;
	float:right;
	margin-top: 13px;
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.btn_following{
	background: 0 0;
	border: 0;
	float:right;
	margin-top: 13px;
    color: #262626;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.recommend_profile {
    display: inline-block;
    
}

.recommend_profile a {
	text-decoration: none;
}

footer p {
    margin-top: 18px;
    font-size: 11px;
    line-height: 18px;
    color: #c7c7c7;
}

.link{
	text-decoration: none; 
	color: #c7c7c7;
}

.tag{
	color: #00376b;
	cursor: pointer;
}

/* modal */

.modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
}

.modal_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: white;
	width: 400px;
	border: 1px solid #E2E2E2;
	border-radius: 10px;
	background-color: white;
}

.modal2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.0);
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
}

.modal_content2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: white;
	width: 400px;
	height: 200px;
	border: 1px solid #E2E2E2;
	border-radius: 10px;
	background-color: white;
}

#d1 {
	height: 100px;
	text-align: center;
	position: relative;
	border-bottom: 1px solid #E2E2E2;
}

#d2 {
	height: 50px;
	text-align: center;
	position: relative;
	border-bottom: 1px solid #E2E2E2;
}

#d3 {
	height: 50px;
	text-align: center;
	position: relative;
}

.c {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#d1_t1 {
	font-size: 20px;
	margin-bottom: 10px;
}

#d1_t2 {
	color: #8e8e8e;
}

#d2_del {
	color: #ed4956;
	font-size: 16px;
}

#d3_can {
	font-size: 16px;
}

#declaration {
	width: 400px;
	height: 50px;
	text-align: center;
	border: none;
	border-bottom: 1px solid #E2E2E2;
	background-color:transparent;
	color: #ed4956;
	font-size: 16px;
}

#move {
	width: 400px;
	height: 50px;
	text-align: center;
	border: none;
	background-color:transparent;
	border-bottom: 1px solid #E2E2E2;
	font-size: 16px;
}


#cancel {
	width: 400px;
	height: 50px;
	text-align: center;
	border: none;
	background-color:transparent;
	font-size: 16px;
}

.more{
	text-decoration: none;
	color: #8e8e8e;
}


/* slider */

         
 .swiper-button-next {
 
 	filter: invert();
 	background: url(/gram/static/icons/next2.png) no-repeat;
  	background-size: 100% auto;
 	background-position: center;
}

.swiper-button-prev {
  	filter: invert();
  	background: url(/gram/static/icons/previous.png) no-repeat;
  	background-size: 100% auto;
  	background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* top scroll */

.top{
  	width: 45px;
  	height: 45px;
  	position: fixed;
  	z-index: 999;
  	top: 92%;
  	cursor: pointer;
  	display: none;
}
 
 /* img 더블클릭시 파란박스 해제 */
 
 .post{
	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;
	
	user-select: none;
}

.comment_section {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.comment_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
