@charset "UTF-8";

/* nav */
nav{
	width: 100%;
	height: 54px;
	top: 0;
	display: flex;
	flex-direction: row;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
}

nav div{
	flex-direction: row;
}

nav a {
	text-decoration: none;
}

.nav_c {
	padding-left: 15px;
	height: 50px;
	width: 100%;
	position: relative;
	top: -15px;
}

/* 알림창 말풍선 */
#alarm_contents{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    position: fixed;
    display: none;

	width: 500px;
	height: auto;
	left: 745px;
	top: 35px;
	
	z-index: 1000;
    margin: 20px;
    
    flex-direction: column;
}

#alarm_contents:before {
	position: fixed;
    background-color: white;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 15px;
    left: 404px;
    position: relative;
    top: -5px;
    transform:             rotate( 135deg );
        -moz-transform:    rotate( 135deg );
        -ms-transform:     rotate( 135deg );
        -o-transform:      rotate( 135deg );
        -webkit-transform: rotate( 135deg );
    width: 15px;
}

.profile {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	margin-right: 10px;
}

.text {
	position: relative;
	top: 55%;
}

.text > a {
	color: black;
}

.text > a:visited {
	color: black;
}

.day {
	margin-left: 7px;
	color: #8E8E8E;
}

.profile {
	position: relative;
	top: 30%;
}

.nav_container{
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.nav_logo, .nav_icon{
	width: 370px;
	display: flex;
	align-items: center;
}

.nav_icon{
	justify-content: flex-end;
}

.profile_border {
	border-radius: 50%;
	height: 28px;
	width: 28px;
	
}
.profile_img {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	margin: 1px;
}

.icon {
	width: 24px;
	height: 24px;
	margin-right: 20px;
	cursor: pointer;
}

.nav_icon img:last-child{
	margin: 0;
}
.pic {
    border-radius: 100%;
}
.logo_img{
	height: 30px;
}

.nav_profile{
	margin-left: -180px; 
	top: 37px;
}

.list_space{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.list_rhom{
	left: 159px;
	background-color: #fff;
	border: 1px solid #fff;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
	height: 14px;
	width: 14px;
	position: absolute;
	transform: rotate(45deg);
}

.nav_list{
	background-color: #fff;
	border-radius: 6px;
	height: 117px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%; 
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
	top: 4px;
	flex-direction: column;
	z-index: 3;
}

.profile_list{
	cursor: pointer;
	outline: 0;
}

.list_first{
	box-sizing: border-box;
	display: flex; 
	align-content: stretch;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	flex: 0 0 auto;
	padding: 8px 16px;
}

.list_middle{
	display: flex;
	align-content: stretch;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	flex: 0 0 auto;
	padding: 8px 16px;
}

.list_last{
	box-sizing: border-box;
	display: flex;
	align-content: stretch;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	flex: 0 0 auto;
	padding: 8px 16px;
	margin-bottom: 4px;
}

.list_img{
	display: flex;
	align-content: stretch;
	align-items: stretch;
	justify-content: flex-start;
	flex: 0 0 auto;
	margin-right: 12px;
}

.list_img img {
	width: 16px;
	height: 16px;
}

.profile_name{
	display: flex;
	align-content: stretch;
	align-items: stretch;
	justify-content: center;
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
}

.profile_area{
	display: flex;
	align-content: stretch;
	align-items: stretch;
	justify-content: flex-start;
	flex: 0 0 auto;
}

.profile_link{
	font-size: 14px; 
	line-height: 28px;
	margin: -3px 0 -4px;
	font-weight: 400;
	color: #262626;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav_profile_text{
	height: 28px;
	width: 120px;
	display: flex;
	align-content: stretch;
	align-items: stretch;
	justify-content: center;
	flex: 0 0 auto;
	text-align: center;
}

.nav_profile_text a {
	width: 230px;
}

.hr {
	background-color: #dbdbdb;
	border: 0;
	height: 1px;
	margin: 0;
	width: 100%;
}

#search{
	width: 200px;
    height: 12px;
    padding: 7px;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-image: url("../icons/search.png");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 10%;
    font-size: 14px;
	opacity: 0.8;
}

#search:focus {
    text-indent:0%;
    background-image: none;
}

/* 검색창 배경지우기 */
input:-webkit-autofill {
   box-shadow:  0 0 0 1000px white inset;
}

.blue_circle {
	width: 8px;
	height: 8px;
	border-radius: 100px;
	background-color: #0095F6;
	display: inline-block;
	margin-left: 10px;
}