@charset "UTF-8";

body {
	background-color: #fafafa;
}

#popup_title {
	color: #333333;
	text-align: center;
}

.img_div {
	width: 100%;
	position: relative;
}

#popup_title:hover {
	color: #8e8e8e;
}

#popup_img {
	width: 400px;
	height: 400px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform:translate(-50%, 0%); 
}

#popup_contents {
	width: 400px;
	top: 85%;
	left: 50%;
	transform:translate(-50%, 0%); 
	position: absolute;
	font-weight: 200;
}