@charset "UTF-8";
body {display: block; background: #fff; overflow-y: scroll; line-height: 1;}
html, body, #react-root{height: 100%;}
div {display: block;}
a {text-decoration: none; color: #00376b;}
body, button, input, textarea{color: #262626; font-size: 14px; line-height: 18px;}
#react-root, article, div, footer, header, main, section {
	align-items: stretch; border: 0 solid #000; display: flex; flex-direction: column;
	flex-shrink: 0; margin: 0; padding: 0; position: relative; border-collapse: collapse;
}
#react-root{z-index: 0;}
.profile-photo{display: none;}
.profile-home-section{display: flex; flex-direction: column; flex-grow: 1; min-height: 100vh; overflow: hidden;}
.profile-home-main{background-color: #fafafa; flex-grow: 1; order: 4;}
.profile-homepage{flex-grow: 1; margin: 0 auto 30px; max-width: 935px; margin-bottom: 0; width: (100%-40px); box-sizing: content-box; padding: 30px 20px 0;}
.profile-info-header{flex-direction: row; margin-bottom: 22px;}
.profile-img-space{flex-shrink: 0; flex-basis: 0; flex-grow: 1; margin-right: 30px;}
.profile-edit-space{display: block; margin-left: auto; margin-right: auto; height: 150px; width: 150px;}
.profile-edit{background-color: #fafafa; border-radius: 50%; box-sizing: border-box; height: 100%; margin: 0 auto; overflow: hidden; position: relative; width: 100%;}
.icon-btn{border: 0; cursor: pointer; height: 0; padding: 0; width: 100%; height: 100%;}
.input-icon{height: 100%; left: 0; position: absolute; top: 0; width: 100%;}
.profile-img-div{align-items: center; align-self: center; display: block; flex: none; justify-content: center;}
.profile-img-canvas{-webkit-tap-highlight-color: transparent; user-select: none;}
.profile-img-span{background-color: #fafafa; border-radius: 50%; box-sizing: border-box; display: block; flex: 0 0 auto; overflow: hidden; position: relative;}
.profile-img{width: 100%; height: 100%;}
.input-icon{width: 100%; height: 100%}
.profile-info-space{color: #262626; flex-shrink: 1; min-width: 0; flex-basis: 30px; flex-grow: 2;}
.profile-name-btn{align-items: center; flex-direction: row; flex-shrink: 1; min-width: 0; margin-bottom: 20px;}
.profile-username{font-size: 28px; line-height: 32px; margin: -5px 0 -6px; font-weight: 300; color: #262626; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.profile-btn-space{display: flex; align-content: stretch; align-items: stretch; flex-direction: row; justify-content: flex-start; flex: 0 0 auto; margin-left: 20px;}
.profile-btns{display: flex; align-content: stretch; align-items: stretch; flex-direction: row; justify-content: flex-start; flex: 0 0 auto;}
.dm-fol-btn-space, .edit-btn-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 1 1 auto; min-height: 0; min-width: 0; overflow: hidden;}
.dm-btn, .edit-btn{appearance: none; background: 0 0; box-sizing: border-box; cursor: pointer; display: block;font-weight: 600; padding: 5px 9px; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select: none; width: auto; border-radius: 4px; position: relative; background-color: transparent; border: 1px solid #dbdbdb; color: #262626;}
.fol-btn{appearance:none; border-radius: 3px; border: solid 1px #0095f6; background: #0095f6; font-size: 14px; font-weight: 600; line-height: 26px; outline: 0; overflow: hidden; text-overflow: ellipsis; user-select: none; white-space: nowrap; width: 100%; color: #fff; cursor: pointer; padding: 0 24px; height: 100%;}
.dm-btn-txt, .edit-btn-txt{font-size: 14px; line-height: 18px; margin: 0; font-weight: 600; color: #262626; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.follow-btn-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-left: 8px;}
.follow-btns{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; height: 30px;}
.follow-btns-span{display: flex; height: 100%;}
.unfollow-btn-space{display: block; position: relative; flex: 1 0 auto; margin-right: 8px;}
.unfollow-modal-btn{border: 1px solid #dbdbdb; border-radius: 3px; font-size: 14px; font-weight: 600; line-height: 26px; outline: 0; overflow: hidden; text-overflow: ellipsis; user-select:none; white-space: nowrap; width: 100%; background: 0 0; color: #262626; cursor: pointer; padding: 0 24px; height: 100%; width: 74px;}
.follow-icon-space{display: flex; align-content: stretch; align-items: center; justify-content: center; flex: 0 0 auto; }
.follow-icon-background {width: 14px; height: 14px;}
.arrow-btn-space{display: block; flex: 0 0 auto; position: relative; width: 34px;}
.recommend-btn{appearance: none; background:0 0; border-radius: 3px; border: 1px solid #dbdbdb; font-size: 14px; font-weight: 600; line-height: 26px; outline: 0; overflow: hidden; text-overflow: ellipsis; user-select: none; white-space: nowrap; width: 100%; color: #262626; cursor: pointer; padding: 0 12px; height: 100%;}
.fol-recommend-btn{appearance: none; border-radius: 3px; border: 1px solid #0095f6; font-size: 14px; font-weight: 600; line-height: 26px; overflow: hidden; outline: 0; text-overflow: ellipsis; user-select: none; white-space: nowrap; width: 100%; background: #0095f6; cursor: pointer; padding: 0 12px; height: 100%;}
.recommend-icon-space{display: flex; align-content: stretch; align-items: center; justify-content: center; flex: 0 0 auto; padding: 4px;}
.arrow-icon-background{width: 11px; height: 11px; }
.more-info-space{flex-direction: row; flex-shrink: 0; margin-left: 5px;}
.more-info-btn{align-items: center; background: 0 0; border: 0; cursor: pointer; display: flex; justify-content: center; padding: 8px;}
.three-circle{align-items: center; justify-content: center;}
.circle-svg{display: block; position: relative;}
.info-ul{display: flex; flex-direction: row; margin-bottom: 20px;}
.info-li{font-size: 16px; margin-right: 40px;}
.info-li:first-child {margin-left: 0;}
.info-name{color: #262626;}
.info-total{color: #262626; font-weight: 600;}
.profile-etc-info{display: block; font-size: 15px; line-height: 24px; word-wrap: break-word;}
.profile-nickname{display: inline; font-weight: 600;}
.profile-website{display: block; font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.profile-tablist{align-items: center; border-top: 1px solid #dbdbdb; color: #8e8e8e; display: flex; flex-direction: row; font-size: 14px; font-weight: 600; justify-content: center; letter-spacing: 1px; text-align: center;}
.tab-entity{align-items: center; cursor: pointer; display: flex; flex-direction: row; height: 52px; justify-content: center; text-transform: uppercase; color: #8e8e8e; margin-right: 60px;}
.tab-entity:last-child {margin-right: 0;}
.tab-selected{border-top: 1px solid #262626; margin-top: -1px; color: #262626; align-items: center; }
.tab-info{align-items: center; display: flex;}
.post-icon{width: 12px; height: 12px; display: block; position: relative;}
.bookmark-icon{width: 12px; height: 12px; display: block; position: relative;}
.tab-name{margin-left: 6px;}
.post-article{flex-grow: 1;}
.post-one-row{flex-direction: row; margin-bottom: 28px;}
.one-post{flex: 1 0 0%; margin-right: 28px; display: block; position: relative; width: 100%;}
.one-last {margin-right: 0;}
.post-img-space{background-color: #efefef; display: block; width: 293px; height: 293px;}
.post-image-div{display: block; overflow: hidden; padding-bottom: 100%;}
.post-img{ left: 0; position: absolute; top: 0; user-select: none; width: 100%; height: 100%; size: 293px;}
.img-background{bottom: 0; top: 0; left: 0; right: 0; position: absolute;}
/* 파일 수정 모달 */
.modal-container{align-items: center; background-color: rgba(0,0,0,.5); flex-direction: column; left: 0; overflow-y: auto; position: fixed; right: 0; top: 0; z-index: 100; justify-content: space-around; width: 100%; height: 100%;}
.modal{flex-shrink: 1; justify-content: center; margin: 20px; max-height: calc(100%-40px); width: 400px;}
.modal-content{background-color: #fff; border-radius: 12px; max-height: 100%; overflow: hidden;}
.madal-space{justify-content: center;}
.modal-header{margin: 16px 32px; text-align: center;}
.modal-header:first-child {margin-top: 32px;}
.modal-header-text{font-size: 18px; line-height: 24px; margin: -4px 0 -6px; font-weight: 600; color: #262626; display: block;}
.modal-body{margin-top: 16px;}
.modal-btn{background-color: transparent; border-bottom: 0; border-left: 0; border-right: 0; border-top: 1px solid #dbdbdb; cursor: pointer; line-height: 1.5; margin: 0; min-height: 48px; padding: 4px 8px; text-align: center; user-select:none; vertical-align: middle;}
.photo-upload{color: #0095f6; font-weight: 700;}
.photo-delete{color: #ed4956; font-weight: 700;}
.modal-btn:last-of-type {border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}

/* 팔로우 모달 */
.following-modal-container, .follower-modal-container {align-items: center; background-color: rgba(0,0,0,.5); bottom: 0; flex-direction: column; left: 0; overflow-y: auto; position: fixed; right: 0; top: 0; z-index: 100; justify-content: space-around;}
.follow-modal{width: 400px; flex: 1 1; margin: 20px; justify-content: center; max-height: 400px; min-height: 200px;}
.follow-modal-contents{background-color: #fff; border-radius: 12px; max-height: 100%; overflow: hidden;}
.follow-modal-header{border-bottom: 1px solid #dbdbdb; flex-direction: row; height: 43px;}
.follow-modal-blank{align-items: center; flex: 0 0 48px; justify-content: center;}
.follow-modal-name{align-items: center; display: flex; flex-grow: 1; font-size: 16px; font-weight: 600; justify-content: center; line-height: 24px; text-align: center;}
.follow-modal-close-space{align-items: center; flex: 0 0 48px; justify-content: center;}
.follow-modal-close-btn{align-items: center; background: 0 0; border: 0; cursor: pointer; display: flex; justify-content: center; padding: 8px;}
.follow-modal-close{align-items: center; justify-content: center;}
.follow-modal-close-txt{font-size: 35px; color: rgb(38,38,38); text-align: center; line-height: 34px;}
.follow-modal-list, .follower-modal-list{border-radius: 12px; display: block;flex: 1 1; min-height: 200px; overflow-y: scroll;}
.follow-list-ul{background-color: #fff; display: flex; flex-direction: column; flex-grow: 1; }
.follow-list-li{display: flex; flex-direction: column; padding: 8px 16px;}
.follow-one-user{flex-direction: row; justify-content: space-between;}
.follow-one-user-info{display: flex; flex: 1 1 100px; flex-direction: row; overflow: hidden;}
.follow-user-img-space{display: block; height: fit-content; width: fit-content; position: relative;}
.follow-user-img-background{align-items: center; align-self: center; display: block; flex: none; justify-content: center; margin: 4px; margin-right: 13px;}
.follow-user-img-canvas{user-select: none;}
.follow-user-img-link{background-color: #fafafa; border-radius: 50%; box-sizing: border-box; flex: 0 0 auto; overflow: hidden; position: relative;}
.follow-user-img{width: 100%; height: 100%;}
.follow-user-name-space{flex: 1 1 70px;}
.follow-username-space{align-content: center; display: flex; flex-direction: row;}
.follow-username{position: relative; display: inline;}
.follow-username-link{color: #262626; font-size: 14px; line-height: 18px; font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 5px; margin-left: -5px}
.follow-nickname{color: #8e8e8e; display: block; font-size: 14px; font-weight: 400; line-height: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.follow-btn-space{flex: 0 0 auto; justify-content: center; margin-left: 15px;}
.following-modal-btn-css{appearance: none; background: 0 0; box-sizing: border-box; cursor: pointer; font-weight: 600; display: block; padding: 5px 9px; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select: none; width: auto; border-radius: 4px; color: #262626; position: relative; background-color: transparent; border: 1px solid #dbdbdb;}
.follow-modal-btn-css{appearance: none; background: 0 0; box-sizing: border-box; cursor: pointer; display: block; font-weight: 600; padding: 5px 9px; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select: none; width: auto; border-radius: 4px; color: #fff; position: relative; border: 1px solid transparent; background-color: #0095f6;} 

.unfollow-modal-container{align-items: center; background-color: rgba(0,0,0,.5); bottom: 0; flex-direction: column; left: 0; overflow-y: auto; position: fixed; right: 0; top: 0; z-index: 100; justify-content: space-around;}
.unfollow-modal{flex-shrink: 1; justify-content: center; margin: 20px; max-height: calc(100%-40px); width: 400px;}
.unfollow-modal-contents{background-color: #fff; border-radius: 12px; max-height: 100%; overflow: hidden;}
.unfollow-modal-space{justify-content: center;}
.unfollow-modal-img-space{margin: 16px; align-items:stretch; justify-content:center; margin-top: 32px; }
.unfollow-modal-img-div{align-items: center; justify-content: center; margin: 0 auto;}
.unfollow-modal-img{border-radius: 50%; overflow: hidden;}
.unfollow-modal-txt-space{margin: 16px 32px; text-align: center;}
.unfollow-modal-txt-div{display: block; color: #8e8e8e; font-weight: 400; font-size: 14px; line-height: 18px; margin: -3px 0 -4px;}
.unfollow-modal-check{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto;}
.unfollow-modal-check-txt{font-size: 14px; line-height: 18px; font-weight: 400; color: #262626; display: inline; margin: 0;}
.unfollow-modal-button-space{margin-top: 16px;}
.unfollow-modal-unfollow-btn{color: #ed4956; font-weight: 700; background-color: transparent; border: 0; border-top: 1px solid #dbdbdb; cursor: pointer; line-height: 1.5; margin: 0; min-height: 48px; padding: 4px 8px; text-align: center; user-select: none; vertical-align: middle;}
.unfollow-modal-cancel-btn{color: #262626; background-color: transparent; border: 0; border-top: 1px solid #dbdbdb; cursor: pointer; line-height: 1.5; margin: 0; min-height: 48px; padding: 4px 8px; text-align: center; user-select: none; vertical-align: middle; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}




.update-message-space{bottom: 0; left: 0; overflow: hidden; position: fixed; right: 0; z-index: 500;}
.update-ease-in{transition:translateY(0) 2s ease-in-out}
.update-ease-out{transform:translateY(100%)}
.update-message{background-color: #262626; flex-direction: row; min-height: 44px; padding: 0 16px; width: 100%; border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 2px; border-top-right-radius: 2px; min-width: 500px; width: auto;}
.update-text-space{flex-grow: 1; flex-shrink: 1; justify-content: center; min-width: 200px;}
.update-text{color: #fff; font-size: 14px; line-height: 18px; max-height: 72px; padding: 12px 0; overflow: hidden;}

/* 사용자 신고 모달 1 */
.report_modal {
	position: fixed;
	width: 100vw;
	height: 100vh;	
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
}

.report_modal_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: white;
	width: 400px;
	height: 100px;
	border: 1px solid #E2E2E2;
	border-radius: 10px;
	background-color: white;
}

/* 시용자 신고 모달 2 */
.modal2 {
	position: fixed;
	width: 100vw;
	height: 100vh;	
	background: rgba(0,0,0,0.0);
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
}

.modal_content2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: white;
	width: 400px;
	height: 200px;
	border: 1px solid #E2E2E2;
	border-radius: 10px;
	background-color: white;
}

.modal_img {
	width: 18px;
	height: 18px;
}

#d1 {
	width: 100%;
	height: 40px;
	position: relative;
	border-bottom: 1px solid #E2E2E2;
}

.d1_c {
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#img_cancel {
	position: absolute;
	top: 50%;
	right: 5%;
	transform:translate(0%, -50%);
}

#d2 {
	width: 100%;
	height: 50px;
	position: relative;
	border-bottom: 1px solid #E2E2E2;
}

#d2_c {
	width: 100%;
	height: 100%;
	font-size: 16px;
	padding-top: 15px;
	padding-left: 15px;
}

#d3 {
	width: 100%;
	height: 110px;
	position: relative;
}

textarea {
	width: 90%;
	height: 60px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform:translate(-50%, 0%);
	border: none;
	resize: none;
}

textarea:focus {
	outline: none;
}

#submit_btn {
	position: absolute;
	color: #0095F6;
	top: 75%;
	right: 5%;
}

/* 모달창 버튼 css */
#report {
	width: 400px;
	height: 50px;
	text-align: center;
	border: none;
	border-bottom: 1px solid #E2E2E2;
	background-color:transparent;
	color: #ed4956;
	font-size: 16px;
}

#cancel {
	width: 400px;
	height: 50px;
	text-align: center;
	border: none;
	background-color:transparent;
	font-size: 16px;
}

.blue-btn-small{border: 1px solid transparent; background-color: #0095f6; display: block; cursor:pointer; display:block; font-weight:600px; padding: 5px 9px; text-align:center; text-transform:inherit; text-overflow:ellipsis; user-select:none; width:auto; 
	opacity: 1; border-radius: 4px; position: relative; color: #fff; }