@charset "UTF-8";
body {display: block; background: #fff; overflow-y: scroll; line-height: 1;}
html, body, #react-root{height: 100%;}
div {display: block;}
a {text-decoration: none;}
body, button, input, textarea{color: #262626; font-size: 14px; line-height: 18px;}
#react-root, article, div, footer, header, main, nav, section {
	align-items: stretch; border: 0 solid #000; box-sizing: border-box; display: flex; flex-direction: column;
	flex-shrink: 0; margin: 0; padding: 0; position: relative;
}
#react-root{z-index: 0;}

.account-section {min-width: 100vh; overflow: hidden; display: flex; flex-direction: column; flex-grow: 1;}
.account-main {background-color: #fafafa; flex-grow: 1; order: 4}
.signup-space{display: flex; align-content: stretch; align-items: center; flex-direction: row; justify-content: center; flex: 1 1 auto; min-width: 0; margin-bottom: 44px; overflow: hidden; min-height: 100%;}
.login-space{flex-direction: row; flex-grow: 1; justify-content: center; margin: 32px auto 0; max-width: 935px; padding-bottom: 32px; width: 100%;}
.login-image{align-self: center; background-image: url("/gram/static/images/user/loginimage.png"); background-position: 0 0; background-size: 454px 618px; flex-basis: 454px; height: 618px; margin-left: -35px; margin-right: -15px;}
.image-header {margin: 99px 0 0 151px; position: relative;}
.basics{height: 427px; left: 0; opacity: 0; position: absolute; top: 0; visibility: hidden; width: 240px;}
.present-image{transition: opacity 1.5s ease-in; z-index:2px;}
.present-image, .next-image{ opacity: 1; visibility: visible; }
.input-space{color: #262626; flex-grow: 1; justify-content: center; margin-top: 12px; max-width: 350px;}
.input-part{align-items: center; background-color: #fff; border: 1px solid #dbdbdb; border-radius: 1px; margin: 0 0 10px; padding: 10px 0;}
.sns-name{margin: 22px auto 12px; height: 51px; width: 175px; display: block; overflow: hidden; font-size: 40px; text-align: center; line-height: 51px;}
.login-section{margin-bottom: 10px; max-width: 350px; width: 100%;}
.signup-section{margin-bottom: 20px; max-width: 350px; width: 100%;}
.login-form{display: flex; flex-direction: column;max-width: 350px;}
.signup-form{display: flex; flex-direction: column; max-width: 350px;}
.input-text{color: #8e8e8e; font-size: 16px; line-height: 20px; margin: 0 40px 10px; text-align: center;}
.form-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto;}
.btn-space {margin: 8px 40px 8px 40px;}
.login-input{margin: 0 40px 8px;}
.signup-input{margin: 0 40px 6px;}
.entry-text{align-items: center; background: #fafafa; border: 1px solid #dbdbdb; border-radius:3px; box-sizing: border-box; color: #262626; display: flex; flex-direction: row; font-size: 14px; position: relative; width: 100%;}
.focus-visible{border: 1px solid #a8a8a8;}
.label{display: flex;height: 36px; flex: 1 0 0; padding: 0; position: relative; margin: 0; min-width: 0;}
.label-name{
	color: #8e8e8e; font-size: 14px; height:36px; left: 8px; line-height: 36px; overflow: hidden; pointer-events:none; position: absolute; right: 0; text-overflow: ellipsis;  
	user-select:none; white-space: nowrap;
}
.change-label{
	color: #8e8e8e; font-size: 10px; height:36px; left: 8px; overflow: hidden; pointer-events:none; position: absolute; right: 0; text-overflow: ellipsis; 
	user-select:none; white-space: nowrap;
}
.aInput{font-size: 16px; background: #fafafa; border: 0; flex: 1 0 auto; margin: 0; outline: 0; overflow: hidden; padding: 9px 0 7px 8px; text-overflow: ellipsis;}
.aInput-change{padding: 14px 0 2px 8px;}
.failOrPass{align-items: center; flex: 0 0 auto; flex-direction: row; height: 100%; padding-right: 8px; vertical-align: middle;}
.pass-icon {margin-left: 8px; height: 22px; width: 22px; background-image: url("/gram/static/icons/signup-pass.png");}
.fail-icon{margin-left: 8px; height: 22px; width: 22px; background-image: url("/gram/static/icons/signup-fail.png");}
.fail-message {display: none; color: #ed4956;}
.account-btn{
	background-color: #0095f6; border: 1px solid transparent; border-radius: 4px; position: relative; color: #fff; box-sizing: border-box; cursor: pointer; display: block; font-weight: 500; padding: 5px 9px; text-align: center;
	text-transform: inherit; text-overflow: ellipsis; user-select:none; width: auto;
}
.account-btn:disabled{background: rgba(0,149,246,.3); opacity: 1; cursor: default;}
.error-message{color: #ed4956; margin: 10px 40px; font-size: 14px; line-height: 18px; text-align: center;}
.password-reset{color: #00376b; font-size: 13px; line-height: 16px; margin-top: 12px; text-align: center; text-decoration: none;}
.link-space{display: block; color: #8e8e8e; font-weight: 400; font-size: 14px; line-height: 18px; margin: -3px 0 -4px; }
.link-account{color: #262626; font-size: 14px; margin: 15px; text-align: center;}
.link-name{display: inline; margin-top: 0; margin-left:10px; color: #0095f6; font-weight: bold; font-size: 14px; line-height: 18px; text-decoration: none;}

.mail-section {display: flex; flex-direction: column; flex-grow: 1; min-height: 100vh; overflow: hidden;}
.mail-main{flex-grow: 1; order: 4; background-color: #fafafa;}
.mail-confirmation{display: flex; align-content: stretch; align-items: center; flex-direction: row; justify-content: center; flex: 1 1 auto; margin-bottom: 44px; overflow: hidden; min-height: 100%;}
.confirmation-space{color: #262626; flex-grow: 1; justify-content: center; margin-top: 12px; max-width: 350px;}
.confirmation{align-items: center; background-color: #fff; border: 1px solid #dbdbdb; border-radius: 1px; margin: 0 0 10px; padding: 10px 0;}
.sns-txt {display: block; overflow: hidden; text-indent: 110%; white-space: nowrap; font-size: 1.5em;}
.confirmation-txt{display: flex; align-content: stretch; align-items: center; justify-content: flex-start; flex: 0 0 auto; padding: 8px 28px; max-width: 350px;}
.mail-txt-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-bottom: 8px; margin-top: 16px;}
.code-input-txt{font-size: 16px; line-height: 24px; margin: -6px 0 -6px; font-weight: 600; color: #262626; display: block; text-align: center;}
.rt-space{display: inline-block; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-bottom: 16px; margin-top: 16px;}
.send-mail{font-size: 14px; line-height: 18px; margin: -3px 0 -4px; font-weight: 400; color: #262626; display: block; text-align: center;}
.rt-btn{background: 0 0; appearance:none; box-sizing: border-box; cursor: pointer; font-weight: 600; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select:none; width: auto; border: 0; color: #0095f6; padding: 0; display: inline; position: relative;}
.mail-form-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto;}
.confirmation-form{display: flex; align-content: stretch; align-items: center; justify-content: flex-start; flex: 0 0 auto; margin: 8px auto; padding-left: 40px; padding-right: 40px; max-width: 350px;}
.confirmation-code{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start;flex: 0 0 auto;}
.mail-code{border-radius: 6px; border: 1px solid #dbdbdb; color: #262626; flex-grow: 1; font-size: 14px; line-height: 30px; margin: 0; overflow: visible; padding: 4px 12px; background: #fafafa;}
.next-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-top: 16px;}
.next-btn{appearance:none; background-color: #0095f6; box-sizing: border-box; cursor: pointer; display: block; font-weight: 600; padding: 5px 9px; text-align: center; text-transform: inherit; text-overflow: ellipsis; border-radius: 4px; color: #fff; position: relative; width: 100%; border: 1px solid transparent;}
.next-btn:disabled {opacity: .3;}
.back-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-top: 16px;}
.back-btn{appearance:none; background: 0 0; box-sizing: border-box; cursor: pointer; font-weight: 600; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select:none; width: auto; border: 0; color: #0095f6; display: inline; padding: 0; position: relative;}
.code-error{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-top: 16px;}
.code-error-txt{font-size: 14px; line-height: 18px; margin: -3px 0 -4px; font-weight: 400; color: #ed4956; display: block; text-align: center;}

.clause-section{display: flex; flex-direction: column; flex-grow: 1; min-height: 100vh; overflow: hidden;}
.clause-main{flex-grow: 1; order: 4; background-color: #fafafa;}
.clause-agree-space{display: flex; align-content: stretch; align-items: center; flex-direction: row; justify-content: center; flex: 1 1 auto; min-width: 0; margin-bottom: 44px; overflow: hidden; min-height: 100%;}
.clause{color: #262626; flex-grow: 1; justify-content: center; margin-top: 12px; max-width: 350px;}
.agreement{align-items: center; background-color: #fff; border: 1px solid #dbdbdb; border-radius: 1px; margin: 0 0 10px; padding: 10px 0;}
.clause-space{display: flex; align-content: stretch; align-items: center; justify-content: flex-start; flex: 0 0 auto; padding: 8px 28px; margin-top:15px; }
.clause-name{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-bottom: 8px; margin-top: 16px;}
.clause-txt{font-size: 16px; line-height: 24px; margin: -6px 0 -6px; font-weight: 600; color: #262626; display: block;text-align: center;}
.agreement-txt-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-bottom: 8px; margin-top: 16px;}
.agreement-txt{font-size: 14px; line-height: 18px; margin: -3px 0 -4px; font-weight: 400; color: #262626; display: block; text-align: center;}
.agreement-box{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto;}
.agreement-object{display: flex; align-content: stretch; align-items: center; flex-direction: row; justify-content: flex-start; flex: 0 0 auto;}
.agree-space{display: flex; align-content: stretch; align-items: stretch; justify-content: center; flex: 1 1 auto; min-height: 0; min-width: 0;}
.agreement-div{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto;}
.agree-txt-space{font-size: 14px; line-height: 18px; margin: -3px 0 -4px; font-weight: 400; color: #262626; display: block; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.all-agree-txt{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; padding-bottom: 16px; padding-top: 16px;}
.checkbox-space{display: flex; align-content: stretch; align-items: center; flex-direction: row; justify-content: center; flex: 0 0 auto; margin-left: 8px;}
.agree-checkbox{appearance:none; background-color: #fff; border: 2px solid #dbdbdb; border-radius: 50%; box-sizing: border-box;height: 24px; margin: 8px; width: 24px;}
.agree-checkbox:checked{background-color: #0095f6; border-color:#0095f6; }
.clause-hr{background-color: #dbdbdb; border: 0; height: 1px; margin: 0; width: 100%;}
.agree-txt{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-top: 12px;}
.agreement-more-div{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-top: 8px;}
.agreement-entity{font-size: 14px; line-height: 18px; margin: -3px 0 -4px; font-weight: 400; color: #8e8e8e; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.agreement-more{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-bottom: 4px;}
.more-txt{font-size: 14px; line-height: 18px; color: #0095f6; display: inline; margin: 0;}

.update-message-space{bottom: 0; left: 0; overflow: hidden; position: fixed; right: 0; z-index: 500;}
.update-ease-in{transition:translateY(0) 2s ease-in-out}
.update-ease-out{transform:translateY(100%)}
.update-message{background-color: #262626; flex-direction: row; min-height: 44px; padding: 0 16px; width: 100%; border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 2px; border-top-right-radius: 2px; min-width: 500px; width: auto;}
.update-text-space{flex-grow: 1; flex-shrink: 1; justify-content: center; min-width: 200px;}
.update-text{color: #fff; font-size: 14px; line-height: 18px; max-height: 72px; padding: 12px 0; overflow: hidden;}

/* pw reset.jsp */
.pw-reset-space{flex-grow: 1; justify-content: center; margin: 44px 0; overflow: hidden;}
.pw-reset{background-color: #fff; border: 1px solid #dbdbdb; border-radius: 3px; margin: 60px auto 0; max-width: 935px; overflow: hidden; }
.pw_reset_contents{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-top: 5px;}
.pw-reset-div{display: flex; align-content: stretch; align-items: stretch; justify-content: center; min-height: 0; min-width: 0; flex: 1 1 auto; margin-left: auto; margin-right: auto;}
.reset-icon-space{display: flex; align-content: stretch; align-items: center; justify-content: flex-start; flex: 0 0 auto; margin-top: 24px; margin-bottom: 16px;}
#reset-icon{height: 96px; width: 96px;}
.reset_space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin: 0 44px 16px 44px;}
.login_check_txt{font-size: 16px; line-height: 24px; margin: -6px 0 -6px; font-weight: 600; color: #262626; display: block; text-align: center;}
.reset_space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin: 0 44px 16px 44px;}
.email_input_txt{font-size: 14px; line-height: 18px; margin: -3px 0 -4px; font-weight: 400; color: #8e8e8e; display: block; text-align: center;}
.reset_space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin: 0 44px 16px 44px;}
.reset-label{background-color: #fafafa; border: 1px solid #dbdbdb; border-radius: 6px; display: flex; flex-grow: 1; justify-content: space-between; padding-right: 8px; position: relative; align-items: center;}
.reset-focus-visible{border: 1px solid #a8a8a8;}
.reset-input{border-radius: 6px; color: #262626; flex-grow: 1; font-size: 14px; line-height: 30px; margin: 0; background: #fafafa; overflow: visible; border: 0; padding: 4px 9px; widows: 100%;}
.reset-input:focus {outline: none;}
.reset-label-name{align-items: center; color: #c7c7c7; font-size: 14px; left: 0; margin: 3px 9px; overflow: hidden; pointer-events: none; position: absolute; right: 0; text-overflow: ellipsis; transform-origin: left;}
.reset-change-label{transform: scale(.714) translateY(-16px);}
.reset-btn{appearance: none; background: 0 0; box-sizing: border-box; cursor: pointer; display: block; font-weight: 600; padding: 5px 9px; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select: none; width: auto; border-radius: 4px; color: #fff; position: relative; border: 1px solid transparent; background-color: #0095f6; }
.reset-btn:disabled {opacity: .3;}
.reset-input-change{padding: 8px; padding-bottom: 0;}
.or-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin: 16px 44px; flex-direction: row;}
.hr{flex-grow: 1; flex-shrink: 1; background-color: #dbdbdb; height: 1px; position: relative; top: .45em;}
.or-txt{color: #8e8e8e; flex-grow: 0; flex-shrink: 0; font-size: 13px; font-weight: 600; line-height: 15px; margin: 0 18px; text-transform: uppercase;}
.link-text{appearance: none; background: 0 0; box-sizing: border-box; cursor: pointer; font-weight: 600; text-align: center; text-transform: inherit; text-overflow: ellipsis; width: auto; user-select: auto; background-color: transparent; border: 0; display: inline; padding: 0; position: relative; color: #262626;} 
.login-link-space{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin-top: 68px; right: 0; left: 0; bottom: 0;}
.login-link-contents{border: 1px solid #dbdbdb; background-color: #fafafa; display: flex; align-content: stretch; align-items: stretch; justify-content: space-around; flex: 0 0 auto;}
.login-reset-input{border-radius: 6px; flex-grow: 1; font-size: 14px; line-height: 30px; margin: 0; overflow: visible; background-color: #fafafa; border: 0; width: 100%; padding: 8px; padding-bottom: 0; }
.login-reset-input:disabled {background-color: #efefef; border-color: #8e8e8e; cursor: not-allowed;}
.login-label{background-color: #efefef; border-color: #dbdbdb; color: #8e8e8e; cursor: not-allowed;}

/* pw reset mail jsp */
.pw-chal-section{display: flex; flex-direction: column; flex-grow: 1; min-height: 100%; overflow: hidden; bottom: env(safe-area-inset-bottom);}
.pw-chal-main{background-color: #fafafa; flex-grow: 1;}
.pw_recov{height: 60px; align-items: center; background-color: #fff; border-bottom: 1px solid #dbdbdb; position: fixed; top: 0; transition: height .2s ease-in-out; width: 100%; z-index: 3;}
.pw_recov_nav{display: flex; align-items: center; flex-direction: row; justify-content: center; max-width: 975px; padding: 0 20px; transition: height .2s ease-in-out; width: 100%; z-index: 10; height: 60px;}
.pw_nav_logo{flex: 1 0 127px;}
.pw_reset_logo_area{display: flex; align-content: stretch; align-items: center; flex-direction: row; justify-content: flex-start; flex: 0 0 auto;}
.reset_logo{margin-top: 7px; transition: opacity .1s ease-out;}
.reset_logo img {max-height: 100%; max-width: 100%; object-fit: contain; vertical-align: baseline;}
.pw_reset_btn_area{align-content: center; align-items: center; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; flex: 1 0 127px;}
.other_account_login{appearance: none; background: 0 0; box-sizing: border-box; cursor: pointer; font-weight: 600; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select: none; width: auto; border: 0; color: #0095f6; display: inline; padding: 0; position: relative;}
.other_login_text{font-size: 16px; line-height: 24px; margin: -6px 0 -6px; font-weight: 400; color: #262626; display: block;}
.challenge{display: flex; align-content: stretch; align-items: stretch; justify-content: center; flex: 1 1 auto; min-height: 0; min-width: 0; margin-top: 44px; overflow: hidden;}
.pw_challenge{background-color: #fff; border: 1px solid #dbdbdb; border-radius: 3px; margin: 60px auto 0; max-width: 935px; overflow: hidden;}
.chal_check{max-width: 360px; width: 360px;}
.challenge_check_area{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 1 1 auto; min-height: 0; min-width: 0; margin-left: auto; margin-right: auto;}
.challenge_check{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin: 40px 40px 24px;}
.challenge_check h4{font-size: 16px; line-height: 24px; margin: -6px 0 -6px; display: block; text-align: center;}
.challenge_text_area{display: flex; align-content: stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin: 0 40px 24px;}
.challenge_text{font-size: 14px; line-height: 18px; margin: -3px 0 -4px; font-weight: 400; color: #8e8e8e; display: block; text-align: center;}
.challenge_mail_address{font-weight: 600; display: inline; margin: 0; color: #262626;}
.challenge_btn_area{display: flex; align-content:  stretch; align-items: stretch; justify-content: flex-start; flex: 0 0 auto; margin: 0 40px 32px;}
.challenge_btn_area button {appearance: none; background: 0 0; box-sizing: border-box; cursor: pointer; font-weight: 600; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select: none; width: auto; border: 0; color: #0095f6; display: inline; padding: 0; position: relative;}

/* pw recovery jsp */
.pw-recovery-sercion{display: flex; flex-direction: column; flex-grow: 1; min-height: 100vh; overflow: hidden;}
.pw-recovery-main{flex-grow: 1; order: 4; background-color: #fafafa;}
.pw-recovery{flex-grow: 1; justify-content: center; margin: 44px 0; overflow: hidden;}
.recovery{background-color: #fff; border: 1px solid #dbdbdb; border-radius: 3px; margin: 60px auto 0; max-width: 935px; overflow: hidden;}
.recov-user-info{margin: auto; padding: 44px; width: 360px;}
.recov_user_img{align-items: center; margin-bottom: 16px;}
.recov_user_img span{background-color: #fafafa; border-radius: 50%; box-sizing: border-box; display: block; flex: 0 0 auto; overflow: hidden; position: relative;}
.recov_user_img img{height: 100%; width: 100%;}
.recov_username{align-items: center; margin-bottom: 20px;}
.recov_username h4{display: block; color: #262626; font-weight: 600; font-size: 16px; line-height: 24px; margin: -6px 0 -6px;}
.pw_change_form{display: block;}
.new_pw{margin-bottom: 16px;}
.new_pw_check{margin-bottom: 20px;}
.new_pw_input{align-items: center; background: #fafafa; border: 1px solid #dbdbdb; border-radius: 3px; box-sizing: border-box; color: #262626; display: flex; flex-direction: row; font-size: 14px; position: relative; width: 100%;}
.new_pw_focus_input {border-color: #a8a8a8;}
.pw_recov_label{display: flex; height: 36px; flex: 1 0 0; padding: 0; position: relative; margin: 0; min-width: 0;}
.recov_btn{appearance: none; background: 0 0; box-sizing: border-box; cursor: pointer; display: block; font-weight: 600; text-align: center; text-transform: inherit; text-overflow: ellipsis; user-select: none; border-radius: 4px; color: #fff; position: relative; width: 100%; padding: 12px 18px; border: 1px solid transparent; background-color: #0095f6;}
.recov_btn:disabled {opacity: .3;}
.recover-error-msg{color: #ed4956; margin-bottom: 20px; text-align: center;}