@charset "UTF-8";

html{
	overflow-y: scroll;
}

html,body{
	height:100%;
	margin:0;
}

main {
    width: 960px;
    height:100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    border-collapse: collapse;
}

.user_post{
	display: inline-block;
	width: 900px;
	height: 600px;
	margin-top:100px;
	overflow: hidden;
	border: 0.5px solid #DBDBDB;
}

.post_img{
	width: 530px;
	height: 100%;
	float: left;
}

.post_contents{
	width: 370px;
	height: 100%;
	float: left;
	
}

.head{
	width:371px;
	height: 70px;
	border-bottom: 0.5px solid #E2E2E2;

}

.pic {
    border-radius: 100%;
}

.post_profile {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 20px;
 	
}

.post_profile_img {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 100%;
}

span.nickname {
    margin-left: 2px;
}

.icon_react {
    width: 24px;
    height: 24px;
  
}

.icons_react {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid #E2E2E2;

}

.icons_left {
    display: flex;
    align-items: center;
}

.bullet{
	display: inline;
	margin-left: 4px;
    margin-right: 4px;
}

.following{
	border-style: none;
	background-color: #fff;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	display: inline;
	padding: 0;
	letter-spacing: 1px;
}

.contents_area{
	width: 370px;
	height: 350px;
	margin-top: 16px;

}

.contents{
	padding: 12px;
	overflow: auto;
}



div.time_log {
    margin-bottom: 8px;
}
div.time_log span {
    height: 22px;
    font-size: 12px;
    color: #8e8e8e;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.liked_people {
    display: flex;
    align-items: center;
    height: 24px;

    margin-left: 15px;
    margin-top: 5px;
}
.liked_people img {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #fafafa;
}
.liked_people p {
    display: inline-block;
    color: #262626;
    font-size: 14px;
}

.comment{
	margin-top: 30px;
	border-top: 0.5px solid #E2E2E2;
	
}

ul.comments {
    margin-top: 5px;
}
ul.comments li {
    height: 21px;
    display: flex;
    color: #262626;
    font-size: 14px;
}

span.sub_span {
    font-size: 12px;
    color: #8e8e8e;
}
.box{
	margin-top: 10px;
	margin-bottom: 10px;
}
.description {
	word-break:break-all;
 	overflow-y:scroll;
}

.description {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.description::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


.comment_section {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.comment_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.input_comment {

	margin-left: -60px;
	width:310px;
	height:70px;
	margin-top: 5px;
    font-size: 14px;
    border-style: none;
    box-sizing: border-box;
    color: #262626;
    word-break: braek-all;

    
}
.input_comment:focus {
	outline: none;
}
.input_comment::placeholder {
    color: #8e8e8e;
}
button.submit_comment {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 40px;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}

.submit_comment:disabled {
    color: #B9DFFC;
}
button.submit_comment:focus {
    outline: none;
}

button.submit_re {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 40px;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}

.submit_re:disabled {
    color: #B9DFFC;
}
button.submit_re:focus {
    outline: none;
}



.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;	
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
}

.modal_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: white;
	width: 400px;
	height: 100px;
	border: 1px solid #E2E2E2;
	border-radius: 10px;
	background-color: white;
}

.modal2 {
	position: fixed;
	width: 100vw;
	height: 100vh;	
	background: rgba(0,0,0,0.0);
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
}

.modal_content2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: white;
	width: 400px;
	height: 200px;
	border: 1px solid #E2E2E2;
	border-radius: 10px;
	background-color: white;
}

#d1 {
	height: 100px;
	text-align: center;
	position: relative;
	border-bottom: 1px solid #E2E2E2;
}

#d2 {
	height: 50px;
	text-align: center;
	position: relative;
	border-bottom: 1px solid #E2E2E2;
}

#d3 {
	height: 50px;
	text-align: center;
	position: relative;
}

.c {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#d1_t1 {
	font-size: 20px;
	margin-bottom: 10px;
}

#d1_t2 {
	color: #8e8e8e;
}

#d2_del {
	color: #ed4956;
	font-size: 16px;
	margin-top: 18px;
}

#d3_can {
	font-size: 16px;
	margin-top: 18px;
}

#delete {
	width: 400px;
	height: 50px;
	text-align: center;
	border: none;
	border-bottom: 1px solid #E2E2E2;
	background-color:transparent;
	color: #ed4956;
	font-size: 16px;
}

#cancel {
	width: 400px;
	height: 50px;
	text-align: center;
	border: none;
	background-color:transparent;
	font-size: 16px;
}

 .swiper-button-next {
 
 	filter: invert();
 	background: url(/gram/static/icons/next2.png) no-repeat;
  	background-size: 100% auto;
 	background-position: center;
}

.swiper-button-prev {
  	filter: invert();
  	background: url(/gram/static/icons/previous.png) no-repeat;
  	background-size: 100% auto;
  	background-position: center;
}

.swiper-pagination-bullet-active { 
	background: #fff; 
	}


.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}