@charset "UTF-8";

html{
	height:100%;
	margin:0;
	overflow-y: scroll;
}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%); 
}

.tbl{
	border: 1px solid #E2E2E2;
	width: 900px;
	height: 600px;
 	border-collapse: collapse;
}

.tbl_tr, .tbl_td {
	border: 1px solid #E2E2E2;
}

.post{
	widows: 550px;
	height: 600px;
}
.post_profile{
	height: 50px;
}

.post_profile_img pic{
	margin-left: 10px;
}

.nickname{
	position:absolute;
	padding-left: 10px;
	padding-top: 18px;
	
}


.contents {
	width: 300px;
	height: 250px;
	resize: none;
	border: none;
	margin: 10px;
}

textarea:focus, input:focus {
	outline: none;
}

.tag {
	width: 300px;
	height: 80px;
	border: none;
	padding-left: 10px;
	margin-top: 5px;
}

.title {
	text-align: center;
	position: relative;
}

.add {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%); 
}

.img_td {
	position: relative;
}

#img_icon {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#default_img{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	cursor: pointer;
}
.multi_files{
	display: inline-block;
	position:absolute;
	bottom: 0px;
	height: 96px;
	width: 100%;	
}

#multi_files{
	position: absolute; 
	left: 12px; 
	bottom: 12px; 
	background-color: black; 
	opacity: 0.8; 
	width: 40px; 
	height: 40px; 
	border-radius: 50%; 
	text-align: center;
	cursor: pointer;
}

#multi_file{
	filter: invert();
	width: 20px; 
	height: 20px; 
	margin-top: 10px;
}


#multi_files .on{
	filter : invert();
}
.write {
	position: absolute;
	top: 50%;
	left: 90%;
	transform:translate(0%, -50%);
	color: #0095F6; 
	font-weight: 600;
}


.icon_react{
	width: 22px;
	height: 22px;
	margin-left: 10px;
	margin-bottom: 7px;
}

.result_txt{
	float: right;
	margin-right: 8px;
	padding-top: 4px;
}


.ui_inputLimitCount{
	margin-left: 222px;
}




.hide {
	display:inline-block;
	position:absolute;
	z-index:-10;
	width:0 !important;
	height:0 !important;
	overflow:hidden !important;
	font-size:medium;
	line-height:normal;
	word-break:break-all
	}
 

