<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.b.bookmark.BookmarkRepository">
  	
  	<!-- 좋아요 추가 -->
 	
 	<insert id="setBookmarkInsert" parameterType="BookmarkVO" useGeneratedKeys="true" keyProperty="bookmarkNum">
 		INSERT INTO 
 				bookmark
 		VALUES
 				(#{bookmarkNum}, #{userNum}, #{postNum})
 	</insert>
 	

 	<!-- 좋아요 삭제 -->
 	
 	<delete id="setBookmarkDelete" parameterType="BookmarkVO">
 		DELETE FROM bookmark
 		WHERE postNum=#{postNum} AND userNum = #{userNum}
 	</delete>
 	

  </mapper>