<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.b.chat.chatroom.ChatRoomJoinRepository">
  
  	<select id="getChatMessage" parameterType="ChatMessageVO" resultType="ChatMessageVO">
  		SELECT * FROM
  		WHERE ROOMNUM = #{roomNum}
  	</select>
  
  	<insert id="setChatMessage" parameterType="ChatMessageVO">
  		INSERT INTO CHATMESSAGE (MESSAGENUM, ROOMNUM, USERNUM, CONTENTS, SENDDATE, READDATE)
  		VALUES (0, #{roomNum}, #{userNum}, #{contents}, now(), 0)
  	</insert>
  
  
  	<resultMap type="ChatRoomJoinVO" id="getChatUserListResult">
  		<id column="userNum" property="userNum" />
  		<result column="roomNum" property="roomNum" />
  		<result column="exitDate" property="exitDate" />
  		<association property="userVO" javaType="UserVO">
  			<result column="username" property="username"/>
  			<result column="fileName" property="fileName"/>
  		</association>
  	</resultMap>
  
  	<select id="getChatUserList" parameterType="UserVO" resultMap="getChatUserListResult">
  		SELECT CRJ.userNum, CRJ.roomNum, CRJ.exitDate, U.username, U.fileName FROM USER U
		JOIN (SELECT * FROM 
			CHATROOMJOIN 
			WHERE ROOMNUM IN (
			SELECT roomNum FROM CHATROOMJOIN WHERE USERNUM = #{userNum}) 
			AND USERNUM NOT IN (#{userNum})) CRJ
		ON (U.userNum = CRJ.userNum)
  	</select>
  
  	<insert id="setChatRoomJoin" parameterType="ChatRoomJoinVO">
  		INSERT INTO CHATROOMJOIN (JOINNUM, USERNUM, ROOMNUM, EXITDATE)
  		VALUES (0, #{userNum}, #{roomNum}, now())
  	</insert>
  
  	<insert id="setNewChatRoom" useGeneratedKeys="true" keyProperty="roomNum" parameterType="ChatRoomVO">
  		INSERT INTO CHATROOM (ROOMNUM)
  		VALUES(#{roomNum})
  	</insert>
  
  	<select id="getChatRoom" parameterType="ChatRoomJoinVO" resultType="Integer">
  		SELECT count(*) FROM CHATROOMJOIN WHERE userNum = #{userNum} AND roomNum = #{roomNum}
  	</select> 
  
  	<select id="getChatRoomNum" parameterType="Long" resultType="Long">
  		SELECT roomNum FROM CHATROOMJOIN WHERE userNum = #{userNum}
  	</select>
  	
 
  </mapper>
  
 