<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.b.follow.FollowRepository">
  	<insert id="follow" parameterType="FollowVO">
  		insert into follow (followNum, userNum, followDate) 
  		values (#{followNum}, #{userNum}, now())
  	</insert>
  	
  	<delete id="unFollow" parameterType="FollowVO">
  		delete from follow where followNum=#{followNum} and userNum=#{userNum}
  	</delete>
  	
  	<select id="myFollowList" parameterType="UserVO" resultMap="FollowListResult">
  		select * from user U inner join follow F on U.userNum=F.followNum where F.userNum=#{userNum}
  	</select>
  	
  	<select id="myFollowerList" parameterType="UserVO" resultMap="FollowListResult">
  		select * from user U inner join follow F on U.userNum=F.userNum where F.followNum=#{userNum}
  	</select>
  	
  	<resultMap type="UserVO" id="FollowListResult">
	  	<id column="userNum" property="userNum"/>
	  	<result column="nickname" property="nickname"/>
	  	<result column="username" property="username"/>
	  	<result column="fileName" property="fileName"/>
	  	<result column="enabled" property="enabled"/>
	  	<collection property="follows" javaType="List" ofType="FollowVO">
	  		<result column="followNum" property="followNum"/>
	  		<result column="userNum" property="userNum"/>
	  		<result column="followDate" property="followDate"/>
	  	</collection>
  	</resultMap>
  	
  	<!-- 나를 팔로우 하거나 내가 팔로우 한 사람들의 목록 -->
  	<select id="followNum" parameterType="UserVO" resultType="Long">
  	select FollowingList.uNum followNum from 
		(select U.userNum uNum from follow F right join user U on F.followNum=U.userNum where F.userNum=#{userNum}) FollowingList inner join 
		(select U.userNum uNum from user U inner join follow F on U.userNum=F.userNum where F.followNum=#{userNum}) FollowerList 
	on FollowingList.uNum=FollowerList.uNum
  	</select>
  	
  	<select id="userList" parameterType="UserVO" resultMap="userListResult">
  		select * from user_role UR inner join user U 
		on UR.userNum=U.userNum 
		left join follow F 
		on U.userNum=F.userNum 
		where UR.rolenum=2 and U.username not in (#{username})
  	</select>
  	
  	<resultMap type="UserVO" id="userListResult">
  		<id column="userNum" property="userNum"/>
  		<result column="nickname" property="nickname"/>
  		<result column="username" property="username"/>
  		<result column="fileName" property="fileName"/>
  		<result column="enabled" property="enabled"/>
  		<collection property="follows" javaType="List" ofType="FollowVO">
  			<result column="followNum" property="followNum"/>
  			<result column="userNum" property="userNum"/>
  			<result column="followDate" property="followDate"/>
  		</collection>
  	</resultMap>
  
  </mapper>