<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.b.follow.FollowRepository">
  	<insert id="follow" parameterType="FollowVO">
  		insert into follow (followNum, userNum, followDate) 
  		values (#{followNum}, #{userNum}, now())
  	</insert>
  	
  	<delete id="unFollow" parameterType="FollowVO">
  		delete from follow where followNum=#{followNum} and userNum=#{userNum}
  	</delete>
  	
  	<select id="myFollowList" parameterType="UserVO" resultMap="FollowListResult">
  		select * from user U inner join follow F 
  		on U.userNum=F.followNum where F.userNum=#{userNum} order by F.followDate desc
  	</select>
  	
  	<select id="myFollowerList" parameterType="UserVO" resultMap="FollowListResult">
  		select * from user U inner join follow F 
  		on U.userNum=F.userNum where F.followNum=#{userNum} order by F.followDate desc
  	</select>
  	
  	<resultMap type="UserVO" id="FollowListResult">
	  	<id column="userNum" property="userNum"/>
	  	<result column="nickname" property="nickname"/>
	  	<result column="username" property="username"/>
	  	<result column="fileName" property="fileName"/>
	  	<result column="enabled" property="enabled"/>
	  	<collection property="follows" javaType="List" ofType="FollowVO">
	  		<result column="followNum" property="followNum"/>
	  		<result column="userNum" property="userNum"/>
	  		<result column="followDate" property="followDate"/>
	  	</collection>
  	</resultMap>
  	
  	<select id="userList" parameterType="UserVO" resultType="UserVO">
  		select * from user U left join 
  			(select followNum, count(userNum) as count from follow group by followNum) F 
			on (U.userNum=F.followNum) 
		where U.enabled=1 and U.userNum!=#{userNum} and 
  		U.userNum not in (select followNum from follow where userNum=#{userNum}) 
  		order by count desc limit #{userCount};
  	</select>
  	
  	<select id="followCount" parameterType="Long" resultType="Long">
  		select count(followNum) from follow where userNum=#{userNum};
  	</select>
  	
  	<select id="followerCount" parameterType="Long" resultType="Long">
  		select count(userNum) from follow where followNum=#{followNum}
  	</select>
  </mapper>