<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.b.likes.LikesRepository">
  	
  	<!-- 좋아요 추가 -->
 	
 	<insert id="setLikesInsert" parameterType="LikesVO" useGeneratedKeys="true" keyProperty="likesNum">
 		INSERT INTO 
 				likes
 		VALUES
 				(#{likesNum}, #{postNum}, #{userNum})
 	</insert>
 	
 	<update id="setLikesUpdate" parameterType="PostVO">
    update post set likes=likes+1 
    where postNum=#{postNum}
	</update>
 	
 	<!-- 좋아요 삭제 -->
 	
 	<delete id="setLikesDelete" parameterType="LikesVO">
 		DELETE FROM likes
 		WHERE postNum=#{postNum} AND userNum = #{userNum}
 	</delete>
 	
 	<update id="setLikesDown" parameterType="PostVO">
    update post set likes=likes-1 
    where postNum=#{postNum}
</update>

 	<!-- 좋아요 갯수 -->
 	
 	<select id="getLikesCount" parameterType="PostVO" resultType="PostVO" >
 		SELECT likes
 		FROM post
 		WHERE postNum = #{postNum}
 	</select>
 	
 	<select id="getLikesRead" parameterType="LikesVO" resultType="Long">
 		select count(*)
 		from likes
 		where postNum = #{postNum} and userNum = #{userNum}
 	
 	</select>
 	
 	
  </mapper>