<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sist.b.membership.MembershipRepository">
	<select id="getList" resultType="MembershipVO">
		select * from membership
	</select>
	<select id="getOne" parameterType="MembershipVO" resultType="MembershipVO">
		select * from membership
		where membershipNum = #{membershipNum}
	</select>
	
	<insert id="setInsert" parameterType="MembershipVO">
		insert into membership (membershipNum, membershipName, membershipAmount)
		values (null, #{membershipName}, #{membershipAmount})
	</insert>
	<update id="setUpdate" parameterType="MembershipVO">
		update membership 
		set membershipName = #{membershipName}, membershipAmount = #{membershipAmount}
		where membershipNum = #{membershipNum}
	</update>
	<delete id="setDelete" parameterType="MembershipVO">
		delete from membership
		where membershipNum = #{membershipNum}
	</delete>
</mapper>