<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sist.b.post.PostRepository">
  
  <!-- post upload -->
  	<insert id="setPostUpload" parameterType="PostVO" useGeneratedKeys="true" keyProperty="postNum">
  		INSERT INTO 
  				post
  		VALUES
  				(#{postNum}, #{userNum}, #{contents}, #{tag, jdbcType=VARCHAR}, now())
  	</insert>
  	
  <!-- post List -->	
	
	<resultMap type="PostVO" id="selectResult">
		<id column="postNum" property="postNum"/>
		<result column="userNum" property="userNum"/>
		<result column="contents" property="contents"/>
		<result column="tag" property="tag"/>
		<result column="regDate" property="regDate"/>
		
		<association property="userVO" javaType="UserVO">
			<result column="nickname" property="nickname"/>
		</association>
		
		<collection property="fileList" javaType="List" ofType="PostFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="postNum" property="postNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
		
		
	
	</resultMap>
	
		<select id="getPostList" resultMap="selectResult">
  		SELECT * 
  		FROM post
  		LEFT JOIN user
  		USING(userNum)
  		LEFT JOIN postfiles 
  		USING(postNum)
  		ORDER BY postNum DESC
  	</select>
  	
  <!-- select post -->
  	<select id="getUserPost" parameterType="PostVO" resultMap="selectResult">
  		SELECT * 
  		FROM post
  		LEFT JOIN user
  		USING(userNum)
  		LEFT JOIN postfiles
  		USING(postNum)
  		WHERE postNum = #{postNum}
  	
  	</select>
  	
  
  <!-- file upload -->
  	<insert id="setFilesInsert" parameterType="PostFilesVO">
  		INSERT INTO postFiles
  		VALUES (null, #{postNum}, #{fileName}, #{oriName})
  	</insert>
  </mapper>