<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sist.b.refunds.RefundsRepository">
	<insert id="setInsert" parameterType="RefundsVO">
		insert into refunds (merchant_uid, reason)
		values (#{merchant_uid}, #{reason})
	</insert>
	
	<select id="getList" resultType="RefundsVO">
		select * from refunds
	</select>
	
	<delete id="setDelete" parameterType="Long">
		delete from refunds where merchant_uid = #{merchant_uid}
	</delete>
</mapper>