@charset "UTF-8";

body {
	overflow-y: scroll;
	background-color: #fafafa;
}

.wrapper {
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tbl {
	width: 800px;
	height: 500px;
	border-collapse: collapse;
	border-spacing: 0 10px;
}

.tbl, .tbl_tr, .tbl_td {
	border: 1px solid #E2E2E2;
}

td {
	background-color: #fff;
}

.contents {
	width: 200px;
	height: 410px;
	resize: none;
	border: none;
	margin: 10px;
}

textarea:focus, input:focus {
	outline: none;
}

.url {
	width: 300px;
	height: 50px;
	border: none;
	padding-left: 10px;
}

.title {
	text-align: center;
	position: relative;
}

.add {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%); 
}

.img_td {
	position: relative;
}

#img_icon {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#default_img{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

.write {
	position: absolute;
	top: 50%;
	left: 90%;
	transform:translate(0%, -50%);
	color: #0095F6;
	font-weight: 600;
}

#thumbnail{
	width: 100%; 
	height: 100%;
}

/* footer */

/* body {
	position: relative;
}

footer {
	position: absolute;
	width: 100%;
	height: 130px;
	text-align: center;
}

.footer-entire {
	margin-top: 80%;
	padding-bottom: 50px;
}

.footer-set-1 {
	margin-top: 30px;
}





.footer-set-2 {
	margin-top: 20px;
}



.settings {
	position: relative;
}

.language-change{
	cursor: pointer; 
	left: 0; 
	opacity: 0; 
	position: absolute; 
	top: 0; 
	width: 50px;
	height: 15px;
	position: absolute;
	left: 0;
	top: 0;
} */

footer {
	top: 85%;
	position: absolute;
	width: 99%;
	height: 100px;
	text-align: center;
}

.contents {
	width: 90%;
	height: 95%;
}

.footer-set-1 {
	height: 45px;
}

.footer-object {
	display: inline-block;
	margin-left: 10px;
}

.object-name {
	font-weight: 400; 
	font-size: 13px;
	color: #8e8e8e;
}

.footer-setting, .language, .select-language-area, .sns-company {
	display: inline-block;
	font-weight: 400; 
	font-size: 13px;
	color: #8e8e8e;
}

.settings {
	position: relative;
}

.language-change{
	cursor: pointer; 
	left: 0; 
	opacity: 0; 
	position: absolute; 
	top: 0; 
	width: 50px;
	height: 15px;
	position: absolute;
	left: 0;
	top: 0;
}